* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom right, #241ae3, #e67e22);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: #110f0f9c;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #c85555;
}

p {
  color: #f7e9e9;
  margin-bottom: 1rem;
}

.form-control {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 100%;
}

.btn {
  background-color: #c85555;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #e4941c;
  box-shadow: 0 0 10px white;
  transition: 1.2s;
}

.imagebox {
  margin-top: 1.5rem;
  text-align: center;
}

.img-fluid {
  max-width: 80%;
  height: auto;
  border-radius: 5px;
}

/* Media Queries */
@media (min-width: 481px) and (max-width: 768px) {
  .container {
    padding: 1.5rem;
  }
}

@media (min-width: 769px) {
  .container {
    padding: 2rem;
  }
}
